Object Type: Certificate Profile
Version: 1
Name: TlsServerProfile
Type: End Entity
Available Key Algorithms:
- RSA
Available Elliptic Curves:
- ANY_EC_CURVE
Available Bit Lengths:
- 2048
- 4096
Available Security Levels:
- 128
- 192
- 256
Signature Algorithm: Inherit from Issuing CA
Basic Constraints Used: False
Validity: 1y 1mo 2d
LDAP DN Order: False
Description: ''
Overridable Extension OIDs: [
  ]
Non-overridable Extension OIDs: [
  ]
Key Usage:
- Digital Signature
- Key Encipherment
Extended Key Usage Used: true
Extended Key Usage:
- Server Authentication
Subject Alternative Name Searchable: true
Issuer Alternative Name Used: false
CVC Access Rights (Inspection System):
- DG3
- DG4
Available CAs:
- Any CA
SSH Extensions:
  no-touch-required: ''
  permit-X11-forwarding: ''
  permit-agent-forwarding: ''
  permit-port-forwarding: ''
  permit-pty: ''
  permit-user-rc: ''
Account Binding Namespace: [
  ]
