Object Type: End Entity Profile
Version: 1
Name: PeerClientEEProfile
E-Mail Used: false
Description: ''
Default CA: {{ kf_cas_mgmt.name }}
Available CAs:
- {{ kf_cas_mgmt.name }}
Default Certificate Profile: PeerClient
Available Certificate Profiles:
- PeerClient
Default Token Type: User Generated
Available Token Types:
- User Generated
Subject DN:
  CN:
  - Required: true
  O:
  - Required: true
    Modifiable: false
    Values:
    - {{ kf_org }}
  C:
  - Required: true
    Modifiable: false
    Values:
    - US
  OU:
  - Required: true
    Modifiable: false
    Values:
    - {{ kf_org_unit }}
Subject Alternative Name:
  DNSNAME:
  - Required: true
    Modifiable: false
    Copy: true
