Object Type: Available Protocols
Version: 1
Name: available-protocol-configuration
ACME: true
Certstore: false
CMP: false
CRLstore: false
EST: false
MSAE: false
OCSP: false
SCEP: false
RA Web: true
REST CA Management: false
REST Certificate Management: false
REST Coap Management: false
REST Crypto Token Management: false
REST End Entity Management: false
REST End Entity Management V2: false
REST Configdump: false
REST Certificate Management V2: false
REST SSH V1: false
Webdist: true
Web Service: true
ITS Certificate Management: false
Custom header name for REST calls from browser: X-Keyfactor-Requested-With
