Object Type: Service
Version: 1
Name: {{ kf_services.presigner.name }}
Worker Type: OCSP Response Presigner
Worker Properties:
  CAs to Check:
  - {{ kf_cas_sub.name|default(omit) }}
  Time Before Expiring: {{ kf_services.presigner.time_before }}
  Time Unit: {{ kf_services.presigner.time_unit }}
  CertId Hash Algorithm: SHA1
  Include Certificates That Have Expired: false
  Generate Responses for All Certificates: true
  Update Expired Responses Only: false
  Issue Final OCSP Response (eIDAS): true
  Time Before CA Expires: 1
  Time Unit Before CA Expires: DAYS
Interval Type: Periodical Interval
Interval Properties:
  Periodical Value: {{ kf_services.presigner.periodical_value }}
  Periodical Unit: {{ kf_services.presigner.periodical_unit }}
Action Type: No Action
Action Properties: {
  }
Description: ''
Active: true
Hidden: false
Pin to Specific Nodes: [
  ]
Run on All Nodes: false
