Object Type: Validator
Version: 1
Type: ECC_KEY_VALIDATOR
Name: ECC Key Validator
Description: ''
If Validation Fails: ABORT_CERTIFICATE_ISSUANCE
If Validator Not Applicable: ABORT_CERTIFICATE_ISSUANCE
Issuance Phase: DATA_VALIDATION
Apply for All Certificate Profiles: false
Apply for Certificate Profiles:
- PublicTrust90DayECCServerClientAuthProfile
Key Validator Settings Template: USE_CERTIFICATE_PROFILE_SETTINGS
Curves:
- ''
Use Full Public Key Validation: true
Not Before Value: ''
Not After Value: ''
