Object Type: Certificate Profile
Version: 1
Name: MgmtCACertProfile
Type: Root CA
Available Key Algorithms:
- RSA
Available Elliptic Curves:
- ANY_EC_CURVE
Available Bit Lengths:
- 4096
Available Security Levels:
- 128
- 192
- 256
Signature Algorithm: SHA384WithRSA
Validity: 10y
Description: ''
Overridable Extension OIDs: [
  ]
Non-overridable Extension OIDs: [
  ]
Allow Validity Override: true
Path Length Constraint Used: true
Path Length Constraint: 0
Key Usage:
- Digital Signature
- Key Certificate Sign
- CRL Sign
Extended Key Usage: [
  ]
Subject Alternative Name Used: false
Issuer Alternative Name Used: false
Name Constraints Used: false
Name Constraints Critical: false
CRL Distribution Point Used: true
CRL Use CA Defined Settings: true
CVC Access Rights (Inspection System):
- DG3
- DG4
LDAP DN Order: false
Available CAs:
- Any CA
SSH Extensions:
  no-touch-required: ''
  permit-X11-forwarding: ''
  permit-agent-forwarding: ''
  permit-port-forwarding: ''
  permit-pty: ''
  permit-user-rc: ''
Account Binding Namespace: [
  ]
