#!/bin/bash

if [ "x$WILDFLY_HOME" = "x" ]; then
    JBOSS_HOME="{{ jboss_home }}
fi

if [[ "$1" == "domain" ]]; then
    $JBOSS_HOME/bin/domain.sh -c $2 -b $3
else
    $JBOSS_HOME/bin/standalone.sh -c $2 -b $3
fi