Object Type: Certificate Profile
Version: 1
Name: {% if deployment_pkiaas|default(false) %}{{ profile.cert_profile }}{% else %}{{ profile.name }}{% endif +%}
Type: End Entity
Available Key Algorithms:
{% if profile.key_algorithm is defined and profile.key_algorithm|is_list %}
- {{ profile.key_algorithm|join('\n'+'- ') }}
{% else %}
- {{ profile.key_algorithm }}
{% endif -%}

Available Elliptic Curves:
{% if profile.key_algorithm is search('ECDSA','Ed25519') and profile.curve_sizes|length > 0 %}
- {{ profile.curve_sizes|join('\n'+'- ') }}
{% else %}
- ANY_EC_CURVE
{% endif -%}

Available Bit Lengths:
{% if profile.key_algorithm is search('RSA') and profile.bit_lengths|length > 0 %}
- {{ profile.bit_lengths|join('\n'+'- ') }}
{% else %}
- {{ defaults_bit_lengths|join('\n'+'- ') }}
{% endif -%}

Signature Algorithm: {{ profile.sign_algorithm }}
Validity: {{ profile.validity }}
Description: {{ profile.description|default("''") }}
{% if profile.allow_extension_overridable_oids|default([])|length > 0 %}
Overridable Extension OIDs:
- {{ profile.allow_extension_overridable_oids|join('\n'+'- ') }}
{% else %}
Overridable Extension OIDs: []
{% endif -%}

{% if profile.allow_extension_non_overridable_oids|default([])|length  > 0 %}
Non-overridable Extension OIDs:
- {{ profile.allow_extension_non_overridable_oids|join('\n'+'- ') }}
{% else %}
Non-overridable Extension OIDs: []
{% endif -%}
  
Allow Key Usage Override: {{ profile.allow_key_usage_override|default('false')|lower }}
Allow Validity Override: {{ profile.allow_validity_override|default('false')|lower }}
Basic Constraints Used: {{ profile.basic_constraint_used|default('false')|lower }}
Key Usage:
{% if profile.key_usage|default([])|length > 0 %}
- {{ profile.key_usage|join('\n'+'- ') }}
{% else %}
- Digital Signature
- Key Encipherment
{% endif -%}

Extended Key Usage Used: {% if profile.ekus|default([])|length > 0 %}true{% else %}false{% endif +%}
{% if profile.ekus|default([])|length > 0 %}
Extended Key Usage:
- {{ profile.ekus|join('\n'+'- ') }}
{% else %}
Extended Key Usage: []
{% endif -%}

Subject Alternative Name Used: {{ profile.subject_alternative_name_used|default('true')|lower }}
Subject Alternative Name Searchable: {{ profile.subject_alternative_name_searchable|default('true')|lower }}
Issuer Alternative Name Used: {{ profile.issuer_alternative_name_used|default('false')|lower }}
CRL Distribution Point Used: {{ profile.crl_distribution_point_used|default('true')|lower }}
CRL Use CA Defined Settings: {{ profile.crl_use_ca_defined|default('true')|lower }}
Authority Information Access Used: {{ profile.authority_information_access_used|default('true')|lower }}
OCSP Service Locator URL Is CA Defined: {{ profile.ocsp_service_location_use_ca_defined|default('true')|lower }}
OCSP Issuer URL Is CA Defined: {{ profile.ca_issuer_use_ca_defined|default('true')|lower }}
{% if profile.custom_extensions|default([])|length > 0 %}
Certificate Extensions:
- {{ profile.custom_extensions|join('\n'+'- ') }}
{% else %}
Certificate Extensions: []
{% endif -%}

CVC Access Rights (Inspection System): []
LDAP DN Order: {{ profile.ldap_dn_order|default('false')|lower }}
Available CAs:
{% if profile.available_cas|default([])|length > 0 %}
- {{ profile.available_cas|join('\n'+'- ') }}
{% else %}
- Any CA
{% endif -%}

Publishers: []
Account Binding Namespace: []