Object Type: Certification Authority
Version: 2
Name: {{ ca.name }}
Type of CA: X.509
Description: {{ ca.description|default("''") }}
Serial Number Octet Size: {{ ca.serial_number_octect_size|default('20') }}
Pre-produce OCSP Responses: {{ ca.pre_produce_ocsp_responses|default('false')|lower }}
Store responses on-demand: {{ ca.store_responses_on_demand|default('false')|lower }}
Certificate Profile: {% if ca.external_ca|default('false') %}{{ ca.cert_profile }}{% else %}null{% endif +%}
Default Certificate Profile: Not used
Use Append-Only Table: {{ ca.use_append_only_table|default('false')|lower }}
CA Token:
  Signature Algorithm: {{ ca.sign_algorithm|default('SHA256witRSA') }}
  Encryption Algorithm: {{ ca.sign_algorithm|default('SHA256witRSA') }}
  Crypto Token: {{ ca.crypto_token }}
  Default Key: {{ ca.token_keys|selectattr('type','==','default')|map(attribute='name')|join('') }}
  Key Encryption Key: {{ ca.token_keys|selectattr('type','==','default')|map(attribute='name')|join('') }}
  Certificate Signing Key: {{ ca.token_keys|selectattr('type','==','sign')|map(attribute='name')|join('') }}
  CRL Signing Key: {{ ca.token_keys|selectattr('type','==','sign')|map(attribute='name')|join('') }}
  Test Key: {{ ca.token_keys|selectattr('type','==','test')|map(attribute='name')|join('') }}
  Key Sequence Format: Numeric
  Key Sequence: '00000'    
Enforce Unique Public Keys: {{ ca.enforce_unique_public_keys|default('true')|lower }}
Enforce key renewal: {{ ca.enforce_key_renewal|default('false')|lower }}
Enforce Unique DN: {{ ca.enforce_unique_dn|default('true')|lower }}
Enforce Unique Subject DN Serial Number: {{ ca.enforce_unique_subject_dn_serial_number|default('false')|lower }}
Certificate Request History: {{ ca.certificate_request_history|default('false')|lower }}
User Storage: {{ ca.user_storage|default('true')|lower }}
Certificate Storage: {{ ca.certificate_storage|default('true')|lower }}
Accept Revocations for Non-Existing Entries: {{ ca.accept_revocations_for_non_existing_entries|default('false')|lower }}
Subject DN: {{ ca.subject_dn|default('CN='+customer_name) }}
Signed By: 
{%- if ca.type|default('issuing') == 'root' %} Self Signed
{%- elif ca.external_issuer|default(true) %} Signed by External CA
{%- else %} {{ ca.issuer }}{% endif +%}
Certificate Policy OIDs: []
Validity: {{ ca.validity }}
Subject Alternative Name: {{ ca.subject_alternative_name|default("''") }}
Use UTF-8 in Policy Notice Text: {{ ca.use_utf8_in_policy_notice_text|default('true')|lower }}
Printable String Encoding in DN: {{ ca.printable_string_encoding_in_dn|default('false')|lower }}
LDAP DN Order: {{ ca.ldap_dn_order|default('false')|lower }}
Name Constraints Permitted: []
Name Constraints Excluded: []
Authority Key Id Used: {{ ca.authority_key_id_used|default('true')|lower }}
Authority Key Id Critical: {{ ca.authority_key_id_critical|default('false')|lower }}
CRL Number Used: {{ ca.crl_number_used|default('true')|lower }}
CRL Number Critical: {{ ca.crl_number_critical|default('false')|lower }}
Issuing Distribution Point on CRLs Used: {{ ca.issuing_cdp_on_crls_used|default('false')|lower }}
Issuing Distribution Point on CRLs Critical: {{ ca.issuing_cdp_on_crls_critical|default('false')|lower }}
{% if ca.ca_issuer_uri is defined and ca.ca_issuer_uri|validlist  -%}
CA Issuer URI:
{% for a in ca.ca_issuer_uri %}
- {{ a|replace(' ','%20')}}
{% endfor  %}
{% else %}
CA Issuer URI: []
{% endif %}
Keep Expired Certificates on CRL: {{ ca.keep_expired_certificates_on_crl|default('false')|lower }}
Partitioned CRL Used: {{ ca.partitioned_crl_used|default('false')|lower }}
CRL Expiration Period: {{ ca.crl_validity_period|default('72h') }}
CRL Issue Interval: {{ ca.crl_issue_interval|default('24h') }}
CRL Overlap Time: {{ ca.crl_overlap_time|default('10m') }}
Delta CRL Period: {{ ca.crl_delta_period|default('0m') }}
Generate CRL Upon Revocation: {{ ca.generate_crl_upon_revocation|default('false')|lower }}
Allow Changing Revocation Reason: {{ ca.allow_changing_revocation_reason|default('false')|lower }}
Allow Invalidity Date: {{ ca.allow_invalidity_date|default('false')|lower }}
Default CRL Distribution Point: {{ ca.default_cdp|default('')|join(';')|replace(' ','%20') }}
Default CRL Issuer: {{ ca.default_crl_issuer|default("''") }}
Default Freshest CRL Distribution Point: {{ ca.default_freshest_cdp|default("''") }}
OCSP Service Default URI: {{ ca.ocsp_locator_default_uri|default('') }}
{% if ca.aia_ca_issuer_uri is defined and ca.aia_ca_issuer_uri|validlist -%}
AIA CA Issuer URIs:
- {{ ca.aia_ca_issuer_uri|join('\n- ') }}
AIA CA Issuer URI: []
{% endif %}
Approval Settings: {}
Validators: []
CRL Publishers: [] 
Finish User: {{ ca.finish_user|default('true')|lower }}
CMP RA Authentication Secret: {{ ca.default_crl_issuer|default("''") }}
CA Healthcheck Enabled: {{ ca.ca_healthcheck_enabled|default('true')|lower }}
Request Processor: {{ ca.request_processor|default('null') }}
Microsoft CA Compatible Mode Used: {{ ca.ms_compatibility_mode|default('false')|lower }}