Object Type: Crypto Token
Version: 2
Name: {{ item.crypto_token }}
Used: false
Key Pair Info: []
Active: true
{% if type.crypto_token_type|default('SoftCryptoToken') == 'SoftCryptoToken' %}
Type: SoftCryptoToken
{% endif %}
Authentication Code: placeholder
Auto Activation: {{ item.token_auto_activation|default('true') }}
{# AKV 
{% if item.token_type.akv %}
Type: AzureCryptoToken
Key Vault Type: {% if item.token_vault_premium %}premium{% else %}standard{% endif +%}
Key Vault Name: {{ item.token_key_vault_name }}
Key Vault ClientID: {{ item.token_client_id }}
    {% if item.token_auth_type.app_id_and_secret %}
Key Vault Authentication Type: APP_ID_AND_SECRET
    {% elif item.token_auth_type.internal_key_binding %}
Key Vault Authentication Type: KEY_BINDING
    {% endif %}
{% endif %}#}





