Object Type: Certificate Extension
Version: {{ ext.version|default(1) }}
Name: {{ ext.name }}
Extension class: {{ ext.extension_class|default('BasicCertificateExtension',true) }}
Object Identifier: {{ ext.object_identifier }}
Critical: {{ ext.critical|default('false')|lower }}
Required: {{ ext.required|default('true')|lower }}
Properties:
  encoding: {{ ext.encoding|default('DEROBJECT') }}
  value: {{ ext.value|default("''")}}
  dynamic: '{{ ext.dynamic|default('true')|lower }}'
