Object Type: End Entity Profile
Version: 1
Name: {% if deployment_pkiaas|default(false) %}{{ profile.ee_profile }}{% else %}{{ profile.name }}{% endif +%}
Max Failed Logins Modifiable: false
Description: ''
Default Certificate Profile: {{ profile.default_cert_profile|default('') }}
Available Certificate Profiles:
- {{ profile.available_cert_profiles|join('\n'+'- ') }}
Default CA: {{ profile.default_ca|default('') }}
Available CAs:
- {{ profile.available_cas|join('\n'+'- ') }}
Default Token Type: {{ profile.default_token|default('') }}
Available Token Types:
- {{ profile.available_tokens|join('\n'+'- ') }}
Issuance Revocation Reason Modifiable: false
CA Browser Forum Organization Identifier Modifiable: false
Subject DN:
  CN:
    - Required: true
{% for type, attributes in profile.subject_dn_attributes.items() %}
  {{ type }}:
  {% for attr in attributes +%}
    - Required: {{ attr.required|default('false')|lower }}
      Modifiable: {{ attr.modifiable|default('true')|lower }}
  {% endfor +%}
{% endfor %}

Subject Alternative Name:
{% for type, attributes in profile.other_subject_attributes.items() %}
  {{ type }}:
  {% for attr in attributes +%}
    - Required: {{ attr.required|default('false')|lower }}
      Modifiable: {{ attr.modifiable|default('true')|lower }}
  {% endfor +%}
{% endfor %}