Object Type: Internal Key Binding
Version: 1
Name: {{ item.function }}-{{ ca.name }}
Type: OcspKeyBinding
Status: DISABLED
Crypto Token: {{ item.crypto_token }}
Bound Certificate SHA-1: null
Key Pair Alias: {{ ca.token_keys|selectattr('type','==','ocsp')|map(attribute='name')|join('')|default('SignKey') }}
Next Key Pair Alias: null
Signature Algorithm: {{ item.sign_algorithm|default('RSA') }}
{% if item.trusted_certificates is defined and item.trusted_certificates|length > 0 %}
Trusted certificates: {
{% for cert in item.trusted_certificates %}
  {{ cert }}: [
- ANY
  ]
{% endfor %}
  }
{% else %}
Trusted certificates: {
  }
{% endif %}

Signed on behalf of CAs: {
{% if item.sign_on_behalf_of_cas is defined and item.sign_on_behalf_of_cas|length > 0 %}
- {{ item.sign_on_behalf_of_cas|join('\n'+'- ') }}
{% else %}
- ANY
{% endif %}
  }
OCSP Extensions: [
  ]
Properties:
  Non existing is good: {{ item.non_existing_good|default('false')|lower }}
  Non existing is revoked: {{ item.non_existing_revoked|default('false')|lower}}
  Non existing is unauthorized: {{ item.non_existing_unauthorized|default('false')|lower }}
  Include certificate chain in response: {{ item.include_cert_chain_in_response|default('false')|lower }}
  Include signing certificate in response: {{ item.include_signing_cert_in_response|default('false')|lower }}
  ResponderID: {{ item.responder_id_keyhash|default('KEYHASH') }}
  Request must be signed with a trusted certificate: {{ item[0].request_signed_trusted_cert|default('false')|lower }}
  Response validity: {{ item.response_validity|default('0') }}
  Max-Age HTTP header: {{ item.max_age_http_header|default('0') }}
  Enable nonce in response: {{ item.enable_nonce_in_response|default('false')|lower }}
  Omit reason code if revocation reason unspecified.: {{ item.omit_reason_code|default('false')|lower }}
