Object Type: Publisher
Version: 2
Name: publisher-{{ pub[1].name }}
Type: Validation Authority Peer Publisher
Settings:
{% for settings in va_peer_publisher %}
  Store CRL at the Validation Authority: '{{ settings.store_crl_va | lower | default('true') }}'
  Peer System: {{ pub[1].name }}
  Store Certificate at the Validation Authority: '{{ settings.store_cert_va | lower | default('false') }}'
  Publish Only Revoked Certificates: '{{ settings.publish_only_revoked | lower | default('false') }}'
  Include Database Integrity Information: '{{ settings.include_database_info | lower | default('false') }}'
  Ignore Newer Entries at Peer: '{{ settings.ignore_newer_entries | lower | default('false') }}'
  Don't Store Certificate Meta Data Except for CA and OCSP Signing Certificates: '{{ settings.dont_store_metadata | lower | default('false') }}'
Only Use in Queue: {{ settings.only_use_queue | lower | default('true') }}
Keep Published in Queue: {{ settings.published_items_database | lower | default('false') }}
Use Queue for CRLs: {{ settings.use_queue_crls | lower | default('true') }}
Use Queue for Certificates: {{ settings.use_queue_certs | lower | default('true') }} 
Use Queue for OCSP Responses: {{ settings.use_queue_ocsp | lower | default('true') }}
{% if deployment_ejbca_version is version('7.8.0', '>=') -%}
Use Safe Direct Publishing: {{ settings.safe_direct_publishing | lower | default('true') }}
{% endif -%}
Description: {{ settings.description | default('Validation Authority Peer Publisher') }}
{% endfor %}