Object Type: Certificate Profile
Version: 1
Name: SubCAPeerClient
Type: End Entity
Available Key Algorithms:
- RSA
Available Elliptic Curves:
- ANY_EC_CURVE
Available Bit Lengths:
- 3072
- 4096
Available Security Levels:
- 128
- 192
- 256
Signature Algorithm: SHA256WithRSA
Validity: 5y
Description: ''
Overridable Extension OIDs: [
  ]
Non-overridable Extension OIDs: [
  ]
Basic Constraints Used: false
Key Usage:
- Digital Signature
Extended Key Usage Used: true
Extended Key Usage:
- Client Authentication
Issuer Alternative Name Used: false
CRL Distribution Point Used: true
CRL Use CA Defined Settings: true
Authority Information Access Used: true
OCSP Service Locator URL Is CA Defined: true
OCSP Issuer URL Is CA Defined: true
Microsoft ObjectSid Security Extension Used: false
CVC Access Rights (Inspection System):
- DG3
- DG4
LDAP DN Order: false
Available CAs:
- {{ kf_subCA | default(omit) }}
SSH Extensions:
  no-touch-required: ''
  permit-X11-forwarding: ''
  permit-agent-forwarding: ''
  permit-port-forwarding: ''
  permit-pty: ''
  permit-user-rc: ''
Account Binding Namespace: [
  ]
