Object Type: Role
Version: 1
Name: {{ kf_peering_ca_role }}
Role Members: []
Namespace: ''
RA Style Id: 0
Access Rules:
  /ca/{{ kf_cas_sub.name }}/: Allow
  /peerincoming/: Allow
  /ra_slave/manage/: Allow
  /ca_functionality/use_username/: Allow
  /ca_functionality/use_approval_request_id/: Allow