Object Type: Certification Authority
Version: 2
Name: {{ kf_subCA }}
Type of CA: X.509
Serial Number Octet Size: 20
Pre-produce OCSP Responses: true
Pre-produce OCSP Responses Upon certificate issuance/revocation : true
Microsoft CA Compatible Mode Used: false
Store responses on-demand: false
Certificate Profile: Not used
Default Certificate Profile: Not used
Use Append-Only Table: false
CA Token:
  Signature Algorithm: SHA256WithRSA
  Encryption Algorithm: SHA256WithRSA
  Crypto Token: {{ kf_token_name }}
  Default Key: {{ subca_defaultKey }}
  Certificate Signing Key: {{ subca_certsignkey }}
  CRL Signing Key: {{ subca_crlsignkey }}
  Key Encryption Key: {{ subca_defaultKey }}
  Test Key: {{ subca_defaultKey }}
  Key Sequence Format: Numeric
  Key Sequence: '00000'
Enforce Unique Public Keys: false
Enforce key renewal: false
Enforce Unique DN: false
User Storage: true
Certificate Storage: true
Accept Revocations for Non-Existing Entries: false
Subject DN: {{ kf_subca_dn }}
Signed By: Signed by External CA
Validity: 2555d
Subject Alternative Name: None
Use UTF-8 in Policy Notice Text: true
Printable String Encoding in DN: true
LDAP DN Order: false
Authority Key Id Used: true
CRL Number Used: true
Partitioned CRL Used: false
CRL Expiration Period: {{ kf_crl_expiration_period }}
CRL Issue Interval: {{ kf_crl_issue_interval }}
CRL Overlap Time: {{ kf_crl_overlap }}
Delta CRL Period: 0m
Generate CRL Upon Revocation: true
Allow Changing Revocation Reason: false
OCSP Service Default URI: {{ kf_serviceuri }}
CRL Publishers:
{% for host in groups['va_repeater'] %}
 - {{ host }}
{% endfor %}
Finish User: true
Request Processor: null
